build/
nbproject/
tmp/

#Ignore all
extra_distrib/*
#Don't ignore CMakeLists.txt
!extra_distrib/CMakeLists.txt


# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*.backup
